<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.leocaudete.mistickets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" /> <!-- Informamos que nuestra aplicacion usa la camara -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".preferences.SharedApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_mistickets_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentacion.Direccion"></activity>
        <activity android:name=".presentacion.Dietas" />
        <activity
            android:name=".presentacion.Grafica"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".presentacion.Syncronizar" />
        <activity android:name=".presentacion.Busquedas" />
        <activity
            android:name=".presentacion.VisorTicket"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".presentacion.VisorFotos" />
        <activity
            android:name=".presentacion.GestorFotos"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".presentacion.NuevoTicket"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".presentacion.ForgotPass" />
        <activity
            android:name=".presentacion.Login"
            android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentacion.Registro"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".presentacion.MainActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="es.leocaudete.mistickets"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>